@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --main--bg--color: #FFF;
    --aqua: #17B99C;
    --hoverBlue: #0c6454;
    font-family: 'Inter', 'sans serif';
}

html {
    background: rgb(255, 255, 255);
    background: linear-gradient(164deg, rgba(255, 255, 255, 1) 52%, rgb(171, 255, 240) 95%, rgb(149, 255, 236) 100%);
    background-attachment: fixed;
    box-sizing: border-box;
}


/* BODY */

body {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* column-gap: 1rem; */
    row-gap: 1rem;
}


/*------------ REUSED GENERAL STLYES FOR ALL PAGES --------------*/


/*MENU*/

.menu {
    grid-area: 1/1/2/12;
    display: flex;
    height: 5.875rem;
    font-size: .875rem;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}

.menu__logo {
    width: 70px;
    height: 35.20px;
}

.menu__links {
    display: flex;
    list-style-type: none;
    font-weight: 500;
}

.menu__links--link {
    padding-left: 2rem;
}

.menu__links--link a {
    text-decoration: none;
    color: #000;
}

.menu__links--link a:hover {
    color: var(--aqua);
    cursor: pointer;
}

.menu__links--link:hover {
    color: var(--aqua);
    cursor: pointer;
}


/*FOOTER*/

footer {
    grid-area: 8/1/9/12;
    width: 100vw;
    height: 10.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__links {
    list-style-type: none;
    font-weight: 500;
}

.footer__links--link {
    padding-top: .8rem;
}

.footer__links--link a {
    text-decoration: none;
    color: #000;
    padding-top: 1rem;
}

.footer__links--link a:hover {
    color: var(--aqua);
    cursor: pointer;
}

.footer__logoInfo {
    text-align: center;
}

.footer__logoInfo--logo {
    width: 14.625rem;
    height: 8.450rem;
}

.footer__socialMedialinks {
    display: flex;
    list-style-type: none;
}

.footer__socialMedialinks--link img {
    padding-left: 1.525rem;
}

.footer__socialMedialinks--link img {
    width: 1.825rem;
}


/*------------ REUSED GENERAL STLYES FOR ALL PAGES END--------------*/


/*--------------- 01. INDEX.HTML ------------*/


/* HERO IMAGE */

.heroImage {
    grid-area: 2/1/6/8;
    background-image: url('../assets/heroImage.jpg')
}

.hermoImage__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 550px;
    width: 19rem;
    height: 3.25rem;
    background-color: var(--aqua);
    color: #FFF;
    font-size: 1.875rem;
    letter-spacing: 2.5px;
    opacity: .75;
}


/*HERMOALUM LOGO*/

.hermoalumLogo {
    grid-area: 2/8/6/12;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*BUTTON*/

.cotizarButton {
    grid-area: 6/1/7/12;
    width: 15.375rem;
    height: 3.25rem;
    border: 2px solid var(--aqua);
    background-color: transparent;
    align-self: center;
    justify-self: center;
    font-size: 1.25rem;
    letter-spacing: .46px;
    color: var(--aqua);
    cursor: pointer;
}

.cotizarButton:hover {
    width: 16.375rem;
    height: 3.55rem;
    border: 2px solid var(--hoverBlue);
    background-color: var(--hoverBlue);
    font-size: 1.25rem;
    letter-spacing: 1.46px;
    color: #FFF;
    cursor: pointer;
}


/*PHRASE*/

.phrase {
    grid-area: 7/1/8/12;
    width: 45vw;
    text-align: center;
    justify-self: center;
}


/*--------------- 01. INDEX.HTML END ------------*/


/*--------------- 02. SERVICIOS.HTML  ------------*/


/*TITULO*/

.title {
    grid-area: 2/5/3/8;
    text-align: center;
    justify-self: center;
}


/*SERVICIOS*/

.nuestrosServicios {
    grid-area: 3/2/7/11;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nuestrosServicios__servicio {
    width: 363px;
    height: 363px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FACHADAS {
    background-image: url('../assets/Servicios/FACHADA.jpg');
    background-size: cover;
    filter: brightness(73%)
}

.PUERTAS {
    background-image: url('../assets/Servicios/PUERTA.jpg');
    background-size: cover;
    filter: brightness(73%)
}

.VENTANALES {
    background-image: url('../assets/Servicios/VENTANAL.jpg');
    background-size: cover;
    filter: brightness(73%)
}

.ESPEJOS {
    background-image: url('../assets/Servicios/ESPEJO.JPG');
    background-size: cover;
    filter: brightness(73%)
}

.CANCELES {
    background-image: url('../assets/Servicios/CANCEL.jpg');
    background-size: cover;
    filter: brightness(73%)
}

.MAS {
    background-image: url('../assets/Servicios/DUELA.jpg');
    background-size: cover;
    filter: brightness(73%)
}

.nuestrosServicios__servicio:hover {
    filter: brightness(100%) drop-shadow(1px 4px 13px var(--aqua));
    width: 383px;
    height: 383px;
}

.nuestrosServicios__servicio--descripcion {
    color: #FFF;
    z-index: 999;
    font-size: 1.725rem;
    letter-spacing: 2.5px;
    font-weight: 700;
}


/*--------------- 02. SERVICIOS.HTML END ------------*/


/*--------------- 03. NOSOTROS.HTML  ---------------*/

.nosotrosHeroSection {
    grid-area: 3/1/5/12;
    display: flex;
    text-align: center;
    align-items: center;
}

.nostrosHeroSection__image {
    width: 55rem;
    height: 29.5rem;
    background-image: url('../assets/Servicios/FACHADA.jpg');
    background-size: cover;
}

.nosotrosHeroSection__description {
    width: 30.9rem;
    margin-left: 10rem;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;
}

.trustedBrands {
    grid-area: 5/1/8/12;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 500px;
}

.trustedBrands__logo {
    width: 500px;
    height: 500px;
}

.trustedBrands__title p {
    margin-top: 80px;
    background-color: var(--aqua);
    color: white;
    width: 650px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.725rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.trustedBrands__logos {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.trustedBrands__logos img {
    margin-top: 80px;
    margin-left: 100px;
}

.trustedBrands__disclaimer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.trustedBrands__disclaimer p {
    width: 500px;
    margin-bottom: 8rem;
}


/*--------------- 03. NOSOTROS.HTML END ------------*/


/*--------------- 04. GALLERY.HTML  ------------*/

.gallery {
    grid-area: 2/2/8/11;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.galleryItem {
    width: 350px;
    height: 350px;
    margin-right: 25px;
}

.one {
    background-image: url('../assets/Servicios/CANCEL.jpg');
    background-size: cover;
}

.two {
    background-image: url('../assets/Servicios/DUELA.jpg');
    background-size: cover;
}

.three {
    background-image: url('../assets/Servicios/ESPEJO.JPG');
    background-size: cover;
}

.four {
    background-image: url('../assets/Servicios/FACHADA.jpg');
    background-size: cover;
}

.five {
    background-image: url('../assets/Servicios/PUERTA.jpg');
    background-size: cover;
}

.six {
    background-image: url('../assets/Servicios/DUELA.jpg');
    background-size: cover;
}

.seven {
    background-image: url('../assets/Servicios/VENTANAL.jpg');
    background-size: cover;
}

.eight {
    background-image: url('../assets/Servicios/CANCEL.jpg');
    background-size: cover;
}


/*--------------- 04. GALLERY.HTML END ------------*/


/*--------------- 04. CONTACTO.HTML  ------------*/


/*--------------- 04. CONTACTO.HTML END ------------*/